@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

// Search BTN Input Styles Start
@media (min-width: 1200px) {
	.css-wb57ya-MuiFormControl-root-MuiTextField-root {
		min-width: 400px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.css-wb57ya-MuiFormControl-root-MuiTextField-root {
		min-width: 350px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.css-wb57ya-MuiFormControl-root-MuiTextField-root {
		min-width: 300px !important;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.css-wb57ya-MuiFormControl-root-MuiTextField-root {
		min-width: 250px !important;
	}
}
@media (max-width: 575px) {
	.css-wb57ya-MuiFormControl-root-MuiTextField-root {
		min-width: 192px !important;
	}
}

.css-1j0qgw8-MuiAutocomplete-root {
	background-color: white !important;
	border: none !important;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
	color: #f76434 !important;
	font-family: mulish !important;
}
// Search BTN Input Styles End

// Image Card Styles Start
.css-bhp9pd-MuiPaper-root-MuiCard-root {
	padding: 10px !important;
	background-color: #ffff !important;
}

img,
video {
	max-width: 100% !important;
	height: 250px !important;
}
// Image Card Styles End

// Text Styles Start
.css-p401l-MuiTypography-root {
	font-family: mulish !important;
}

.css-1yppj1k-MuiTypography-root {
	font-family: mulish !important;
}
// Text Styles Start
